@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager

<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/content/site.css" />

<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <a class="navbar-brand" href="/"> <i class="fa fa-coffee fa-lg"> Pies Shop</i></a>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="About">About</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Feedback" asp-action="Index">Feedback</a></li>
      </ul>
@{
      if(SignInManager.IsSignedIn(User))
      {
        <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-right">
         <ul class="nav navbar-nav navbar-right">
            <li> <a href="javascript:document.getElementById('logoutForm').submit()"> Logout Off </a></li>
         </ul>
        </form>
      }
      else
      {
          <ul class="nav navbar-nav navbar-right">
            <li><a id="registerLink" asp-controller="Account" asp-action="Register"> Register </a></li>
            <li><a id="loginLink" asp-controller="Account" asp-action="Login"> Log in </a></li>
          </ul>     
      }
}

    </div>
  </div>
</nav>

    </head>
    <body>
        <div>
            @RenderBody()
        </div>
        <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    </body>
</html>